<template name="Home">
    <div class="row">
        <div class="col s6">
            <div id="Ambulance" class="card center center-block" onclick="Materialize.toast('Ambulance is on the way!', 4000)">
                <img class="icon" src="images/ambulance.png">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ambulance</span>
                </div>
            </div>
        </div>

        <div class="col s6">
            <div id="Ambulance" class="card center center-block" onclick="Materialize.toast('Fire Fighter are on their way!', 4000)">
                <img class="icon" src="images/fire.png">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" >Fire Fighter</span>
                </div>
            </div>
        </div>

        <div class="col s12"></div>

        <div class="col s6">
            <div id="Ambulance" class="card center center-block" onclick="Materialize.toast('Resque are on their way!', 4000)">
                <img class="icon" src="images/typhoon.png">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Typhoon</span>
                </div>
            </div>
        </div>


        <div class="col s6">
            <div id="Ambulance" class="card center center-block" onclick="Materialize.toast('Police are on their way!', 4000)">
                <img class="icon" src="images/police.png">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Police</span>
                </div>
            </div>
        </div>
    </div>
</template>
